// Modal
#loginModal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			form(name="loginForm" method="post" action="/users/login")
				.modal-header
					h5#exampleModalLabel.modal-title 회원로그인
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") ×
				.modal-body
					.p-2
						.pb-2 이메일:
						div
							input.form-control(type="text" name="email" placeholder="이메일")
					.p-2
						.pb-2 패스워드:
						div
							input.form-control(type="password" name="userpw")
				.modal-footer.d-flex.justify-content-between
					div
						button.btn.btn-warning(type="button" onclick="location.href='/users/kakao';") 카카오로그인
						button.btn.btn-primary(type="submit") 로그인
					button.btn.btn-secondary(type="button" data-dismiss="modal") Close

