// Modal
#loginModal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title 회원가입
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") ×
			.modal-body
				
			.modal-footer
				button.btn.btn-secondary(type="button" data-dismiss="modal") Close
				button.btn.btn-primary(type="button") Save changes

